
<h1>Liste des sessions de recrutement</h1>

<br>
<br>
<table class="table table-hover">
    <tbody>
    <tr>
        <th>Poste concerné</th>
        <th>Titre de la session</th>
        <th>Date de début</th>
        <th>Date de clotûre</th>


    <% @sessions.each do |session| %>
        <% if session.get_status == :pending %>
            <tr class="info">
        <% end %>

        <td><%= session.title %></td>
        <td><%= session.beginDate %></td>
        <td><%= session.endDate %></td>
        <% if session.get_status == :pending %>
            <td>
                Session en cours
            </td>
        <% elsif session.get_status == :planned %>
            <td>
                Session prévue
            </td>
        <% else %>
            <td>
                Session terminée
            </td>
        <% end %>
        <td><i class="icon-pencil"></i><%= link_to 'Voir détails', recruteur_session_path(session), method: :get %></td>

        </tr>
    <% end %>

    </tbody>

</table>
