<div class="page-header">
    <h2><center> Récapitulatif de la candidature :</center></h2>
</div>

<div class="hero-unit">
    <p>
        <strong>Posté le : </strong> <%= @candidature.submitDate.strftime('%d/%m/%Y') %> <strong> par: </strong><%= @candidature.pseudo %>
    </p>


    <p>
        <strong>Motivation:</strong>
        <%= @candidature.motivation %>
    </p>

    <p> Vous pouvez retirer votre candidature en cliquant sur le lien suivant, attention, aucun retour en arrière ne
        sera possible.
        Si vous changez d'avis, il vous faudra créer une nouvelle candidature à partir de zéro.
    </p>


    <td><%= link_to 'Supprimer ma candidature', @candidature, method: :delete, data: {confirm: 'Confirmer la suppresion ?'} , class: "btn" %></td>

</div>





