<h1>Votre compte</h1>

<p id="notice"><%= notice %></p>
<p>
    <strong>Login:</strong>
    <%= @me.login %>
</p>
<p>
    <strong>Mail:</strong>
    <%= @me.mail %>
</p>
<p>
    <strong>Vous êtes:</strong>
    <%= @me.status %>
</p>