<h1>Espace réservé. Veuillez vous identifier</h1>
<br/>

<%= form_tag login_path do %>
    Login : <%= text_field :login, :login %><br/>
    Mot de passe : <%= password_field :pass, :pass %><br/>
    <%= submit_tag 'Valider'%>
<%end%>