<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to root_path, class: %w(brand) do %>
                E-Univers
            <% end %>
        </div>
    </div>
</header>
